S3_ENDPOINT_URL=https://seu-projeto.storage.supabase.co/storage/v1/s3
AWS_REGION=us-west-2
AWS_ACCESS_KEY_ID=sua_access_key
AWS_SECRET_ACCESS_KEY=sua_secret_key
BUCKET_NAME=nome_do_bucket

DATABASE_URL=postgresql+psycopg2://usuario:senha@host:porta/banco